BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -1
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
SortIncludes: true
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
BinPackArguments: true
BinPackParameters: true
ReflowComments: true
